html, body {
  height: 100%;
  width: 100%;
}

body {
  min-width: 100vh;
  min-height: 100vh;
}

main {
  height: 90vh;
  display: grid;
  grid-template: repeat(5, 1fr)/ repeat(5, 1fr);
}

.sedan{
  grid-area: 2/2/span 3/3;
  border: solid black 2px;
}

.suv {
  grid-area: 2/3/span 3/4;
  border: solid black 2px;
}

.luxury{
   grid-area: 2/4/span 3/5;
   border: solid black 2px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
